@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-width: 471px;
  background-color: white;
}




/*---------------------- background ----------------------*/

/* .main-background {
    background: linear-gradient(180deg,
        #0b3d93 0%,
        #4b0082 100%);
    background-color: #000000;
    min-height: 7396px;
  } */
/* 
  .main-background {
    background-color: #000000;
    min-height: 100vh;
  } */

/*---------------------- scroll bar ----------------------*/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bf00c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #af00b5;
}



/*---------------------- header ---------------------- */

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 40px;
  color: white;
  min-width: 470px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: #bf00c4;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87.11px;
}

.column {
  float: left;
  width: 16.66%;
  padding: 10px;
  background-color: #000000;
  height: 108px;
}

.column a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.column a:hover {
  background-color: #ddd;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

/* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  } */

.logo {
  height: 59px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.navbar-right a:hover {
  text-decoration: underline;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  width: 272.09px;
}

.input-search {
  height: 33px;
  width: 33px;
  border-style: none;
  padding: 5px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 18px;
  transition: all 0.5s ease-in-out;
  background-color: #bf00c4;
  padding-right: 15px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
}

.btn-search {
  width: 36px;
  height: 36px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0;
  color: #ffffff;
  background-color: transparent;
}

.btn-search:focus~.input-search,
.input-search:focus {
  width: 200px;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}




/*---------------------- footer ----------------------*/

.footer {
  background-color: #000000;
  padding: 80px 60px;
}

.footer-content {
  max-width: 1059px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  color: white;
}

.footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin: 20px 0;
}

/* .footer-branding {
    flex: 2;
    min-width: 300px;
} */

.footer-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-subtitle {
  font-size: 15px;
  font-family: Roboto, sans-serif;
  margin-bottom: 10px;
}

.footer-subtitle a {
  color: white;
  text-decoration: none;
}

.footer-subtitle a:hover {
  text-decoration: underline;
}

/*---------------------- about planets - section ----------------------*/

.intro {
  padding: 0 53px;
}


.intro h1 {
  font-size: 5em;
  margin-bottom: .5em;
  margin-top: 1.5em;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.para-1 {
  font-size: 22px;
  width: 69%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}



.numbers {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-weight: 700;
  margin-bottom: 5em;
  width: 50%;
}

.planets,
.dwarf-planets {
  display: flex;
  align-items: center;
}


/* .planets, .dwarf-planets {
    text-align: center;
} */

.sub-para {
  font-size: 2em;
  margin-right: 1em;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.planets span,
.dwarf-planets span {
  font-size: 9em;
  color: #D32DE6;
  margin-right: 15px;
}

.details {

  margin-bottom: 1em;
  width: 85%;
  font-size: 1.4em;

}

/* ----------  PLanet Facts - section  ---------------- */

.facts h2 {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  font-size: 4em;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
}

.description {
  padding-left: 22px;
}

.description a {
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  color: black;
  font-family: "Roboto", sans-serif;

}

.arrow-right {
  color: #BF00C4;
  font-size: 1.8em;
  margin-left: 11px;

}

.description h3 {
  font-size: 3em;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description p {
  width: 69%;
  font-size: 1.55em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fact-image img {
  width: 700px;
  height: 500px;
}

.fact-image {
  margin: 20px 30px;

}


/* inverted 2nd planet */

.text-box2.inverted2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
}

.text-box2.inverted2 {
  flex-direction: row-reverse;
}

/* .arrow-left{
    color: #BF00C4;
    font-size: 1.8em;
    margin-right: 11px;
} */
.fact-image {
  margin: 20px 30px;

}

.description2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.description2 h3 {
  font-size: 3em;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description2 p {
  width: 85%;
  font-size: 1.55em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description2 a {
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
}


/* ---------------------- BACK T6O TOP BUTTON ---------------------- */

#myBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 25px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #bf00c4;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  opacity: 1;
}

#myBtn:hover {
  opacity: 0.8;
}

/* Media Queries */
@media (max-width: 1200px) {
  .fact-image img {
    width: 600px;
    height: 450px;
  }

  .text-box {
    align-items: center;
    justify-content: space-between;
    /* margin: 10px 80px 0 80px; */
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .description {
    padding: 0px;
  }

  .description p {
    width: 600px;
    font-size: 1.3em;
  }

  .facts h2 {
    font-size: 3em;
  }

  .description a {
    font-size: 1.4em;
  }

  .arrow-right {
    font-size: 1.4em;
  }

  .description h3 {
    font-size: 2.5em;
  }

  .text-box2.inverted2 {
    align-items: center;
    justify-content: space-between;
    /* margin: 10px 80px 0 80px; */
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .description2 h3 {
    font-size: 2.5em;
  }

  .description2 p {
    width: 600px;
    font-size: 1.3em;
  }

  .description2 a {
    font-size: 1.4em;
  }

  .intro h1 {
    font-size: 3.5em;
    margin-bottom: .5em;
    margin-top: 1.5em;
  }
  
  .para-1 {
    font-size: 1.3em;
    width: 100%;
  }
  
  .planets span,
  .dwarf-planets span {
    font-size: 6em;
  }

  .sub-para {
    font-size: 1.8em;
  }
}

@media (max-width: 1050px) {
  .fact-image img {
    width: 550px;
    height: 400px;
  }

  .description p,
  .description2 p {
    width: 550px;
    font-size: 1.2em;
  }
}

@media (max-width: 850px) {
  .fact-image img {
    width: 500px;
    height: 350px;
  }

  .description p,
  .description2 p {
    width: 500px;
    font-size: 1.2em;
  }
}

@media (max-width: 785px) {
  .fact-image img {
    width: 450px;
    height: 300px;
  }

  .description p,
  .description2 p {
    width: 450px;
    font-size: 1.2em;
  }
}

@media (max-width: 710px) {
  .fact-image img {
    width: 400px;
    height: 250px;
  }

  .description p,
  .description2 p {
    width: 400px;
    font-size: 1.2em;
  }
}

@media (max-width: 670px) {
  .fact-image img {
    width: 350px;
    height: 200px;
  }

  .description p,
  .description2 p {
    width: 350px;
    font-size: 1.2em;
  }
}

@media (max-width: 620px) {
  .fact-image img {
    width: 300px;
    height: 150px;
  }

  .text-box .text-box2.inverted2 {
    margin: 10px;
  }

  .description p,
  .description2 p {
    width: 300px;
    font-size: 1.2em;
  }
}


/* Header Media Query */
@media (max-width: 950px) {
  .navbar-main {
    flex-direction: column;
    text-align: center;
    /* align-items: flex-start; */
  }

  .navbar-center {
    order: -1;
    margin-bottom: 10px;
  }

  /* 
  /* .navbar-left {
    display: none;
  } */

  .link-item {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 87.11px; */
  }

  .dropdown-content .column {
    width: 100%;
  }

  /* .dropdown-content .column:first-child {
    width: 100%;
  }

  .dropdown-content .column:first-child a {
    display: none;
  }

  .dropdown-content .column:first-child a:first-child,
  .dropdown-content .column:first-child a:nth-child(2) {
    display: block;
  } */

  .column {
    width: 100%;
    height: auto;
  }


  .dropdown-content {
    left: 0;
    width: 100%;
    min-width: 471px;
  }

  .search-box {
    margin-top: 10px;
    width: 292.38px;
  }

  .btn-search:focus~.input-search,
  .input-search:focus {
    width: 292.38px;
  }

  .input-search {
    width: 100%;
    padding-left: 55px;
  }

  .btn-search {
    position: absolute;
    left: 10px;
  }
}